.cursor-grabbing {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.cursor-grab {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.cursor-cell {
    cursor: cell;
}
.cursor-default {
    cursor: default;
}
.cursor-crosshair {
    cursor:crosshair;
}
.cursor-text {
    cursor:text;
}
.cursor-pointer {
    cursor:pointer;
}
.cursor-no-drop {
    cursor:no-drop;
}
.cursor-wait {
    cursor:wait;
}
.cursor-progress {
    cursor:progress;
}
