/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Dec 13, 2016, 12:29:28 AM
    Author     : NewDigs
*/

@font-face {
    font-family: didact;
    src: url(../fonts/DidactGothic.ttf) format('truetype');
}

* {
    font-family: didact, sans-serif!important;
}