body {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    display:block;
    background: black;
}
#outputLog {
    height:calc(100% - 50px);
    width:500px;
    background-color:RGB(20,20,20);
    margin:25px auto;
    display:block;
    border-radius:50px;
}
#outputLog p {
    padding:0px;
    color:green;
    width:100%;
    text-align:center;
    font-size:24px;
    margin: 10px 0;
    transition:0.5s;
    overflow-wrap:break-word;
    opacity:0;
}
#outputLog p.error {
    color:red;
}
#outputLog p.warn {
    color:yellow;
}
#outputLog h2 {
    margin-top:0;
    color:white;
    text-align:center;
    font-size:42px;
}
