/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Nov 18, 2016, 3:52:24 AM
    Author     : NewDigs
*/


.webix_template {
    padding:1px!IMPORTANT;
}
.tabletBG .webix_view{
    border-width:0px!important;
    background-color:RGBA(0,0,0,0)!important;
}

.tabletBG {
    background-size:cover;
}

h2, h3, h4 {
    width:100%;
    text-align:center;
    padding:0;
    margin:0;
}

.white {
    background-color:white!important;
    border-color:white!important;
    color:white!important;
}

.exitBtn button {
    border:1px solid black;
}

.blueBox {
    border-radius:5px;
    border-width:2px;
    border-style:solid;
    box-sizing:border-box;
    height:100%;
    text-align: center;
}
.blueBox h1 {
    margin:36px 0px;
    padding:0;
    font-size:36px;
}
.blueBox h2 {
    font-size:60px;
    margin-top: 12px;
    letter-spacing:3px;
}
.blueBox h3 {
    margin:2.5px 10px;
}
.blueBox h2, .blueBox h3 {
    color:white;
    width:auto;
    -webkit-user-select: none;
    pointer-events: none;
}
.blueBox.unlocked h3 {
    text-align:left;
    font-size:22px;
    margin-top:0px;
    margin-bottom:0px;
    letter-spacing:2px;
}
#subjectHeader {
    font-size:24px;
    padding:8px 0px;
}
#subjectHeader img {
    display:inline-block;
    vertical-align:middle;
}
#subjectHeader h2 {
    display:inline-block;
    vertical-align:middle;
    margin-top:-6px;
}
#subjectHeader span {
    vertical-align: middle;
    height: 100%;
    display: inline-block;
}
.unitsToGamesLine {
    width:100%;
    height:20px;
    display:inline-block;
    vertical-align:middle;
}





.blueBox.locked .levelNameCont {
    height: 100%;
}
.blueBox.locked .unitCont {
    display:none;
}
.blueBox.locked h3 {
    vertical-align:middle;
    display:inline-block;
    font-size:50px;
    letter-spacing:3px;
}
.blueBox.locked .middle {
    width:25px;
}
.blueBox.locked .lock {
    height:25px;
    width:25px;
    vertical-align:middle;
}


.blueBox.unlocked .levelNameCont .middle {
    display:none;
}
.blueBox.unlocked {
    background-color:RGBA(255,255,255,0.6);
}
.blueBox#tutorialCont h1 {
    display:table-cell;
    vertical-align: middle;
}
.blueBox.unlocked .lock {
    display:none;
}
.blueBox.unlocked span {
    font-size:55px;
}
blueBox.unlocked .levelNameCont {
    height:22px;
}
.blueBox.unlocked .unitCont {
    display:block;
    height:calc(100% - 27px);
    position:relative;
}

.blueBox.unlocked .unitCont .unit {
    display:inline-block;
    text-align:center;
}
.window {
    position:absolute;
    height:100%;
    width:100%;
    overflow:hidden;
}
.scrollCont {
    position:absolute;
    overflow:hidden;
    width: 100000px; /* Change this in javascript to only the needed width, but 100000 just to be safe preload */
    bottom: 2px;
}

.unit {
    float:left;
    border-radius:50%;
    border:2px solid black;
    vertical-align:middle;
    margin:2px;
}

.unit.next {
    background-color:white;
}
.unit.incomplete {
    border-color:#a7a9ac;
    background-color:#a7a9ac;
}
.unit span {
    padding:0;
    margin:0;
    vertical-align:middle;
    text-align:center;
    width:100%;
    -webkit-user-select: none;
    pointer-events: none;

}
.unit.complete span {
    color:white;
}
.unit.incomplete span {
    color:white;
}
.middle {
    vertical-align:middle;
    height:100%;
    display:inline-block;
    width:0px;
}
.gameIcon {
    max-height:81px;
    max-width:81px;
    display:inline-block;
    text-align:center;
    margin:0px calc(16.4% - 39.5px);
    /* vertical-align:middle;*/
    margin-top:33px;
}
.gameIcon1 {
    margin:0px calc(50% - 39.5px);
}
.gameIcon2 {
    margin:0px calc(25% - 39.5px);
}





#cover {
    height:100%;
    width:100%;
    z-index:2;
    position:absolute;
    top:0;
    left:0;
    background-color:RGBA(20,20,20,0.2);
}
.gameCont {
    background-color:white!important;
}
#gameSelector {
    position:absolute;
    height:350px;
    width:350px;

}
#starCont {
    position:absolute;
    height:80%;
    width:80%;
    margin:10%;
    border-radius:50%;
}
.star {
    position: absolute;
    left: 50%;
    top: 50%;
    height:125px;
    width:125px;
    margin:-62.5px;
}
#gameImg {
    position:absolute;
    top:0;
    left:50%;
    height:150px;
    width:150px;
    margin:-40px -75px;
}
#screw {
    position:absolute;
    top:50%;
    left:50%;
    height:50px;
    width:50px;
    margin:-25px;
    -webkit-transform: rotate(0deg);
    -webkit-animation: screwSpin 0.5s linear 1;
}
@-webkit-keyframes screwSpin {
    0% { -webkit-transform: rotate(0deg); }
    50%   { -webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(180deg); }
}
#star1o3 {
    -webkit-animation: star1orbit3 0.3s linear 1;
    -webkit-transform: rotate(180deg) translateX(110px) rotate(-180deg);
}
#star2o3 {
    -webkit-animation: star2orbit3 0.4s linear 1;
    -webkit-transform: rotate(90deg) translateX(110px) rotate(-90deg);
}
#star3o3 {
    -webkit-animation: star3orbit3 0.5s linear 1;
    -webkit-transform: rotate(0deg) translateX(110px) rotate(0deg);
}
@-webkit-keyframes star1orbit3 {
    from { -webkit-transform: rotate(270deg) translateX(110px) rotate(-270deg); }
    to   { -webkit-transform: rotate(180deg) translateX(110px) rotate(-180deg); }
}
@-webkit-keyframes star2orbit3 {
    from { -webkit-transform: rotate(270deg) translateX(110px) rotate(-270deg); }
    to   { -webkit-transform: rotate(90deg) translateX(110px) rotate(-90deg); }
}
@-webkit-keyframes star3orbit3 {
    from { -webkit-transform: rotate(270deg) translateX(110px) rotate(-270deg); }
    to   { -webkit-transform: rotate(0deg) translateX(110px) rotate(0deg); }
}

#star1o2 {
    -webkit-animation: star1orbit2 0.3s linear 1;
    -webkit-transform: rotate(135deg) translateX(110px) rotate(-135deg);
}
#star2o2 {
    -webkit-animation: star2orbit2 0.4s linear 1;
    -webkit-transform: rotate(45deg) translateX(110px) rotate(-45deg);
}

@-webkit-keyframes star1orbit2 {
    from { -webkit-transform: rotate(270deg) translateX(110px) rotate(-270deg);}
    to   { -webkit-transform: rotate(135deg) translateX(110px) rotate(-135deg); }
}
@-webkit-keyframes star2orbit2 {
    from { -webkit-transform: rotate(270deg) translateX(110px) rotate(-270deg);}
    to   { -webkit-transform: rotate(45deg) translateX(110px) rotate(-45deg); }
}

#star1o1 {
    -webkit-animation: star2orbit3 0.3s linear 1;
    -webkit-transform: rotate(90deg) translateX(110px) rotate(-90deg);
}



.fa-times-circle:before {
    color:black!important;
    content: "\00d7";
    font-size: 48px;
    position: relative;
    top: -12px;
}
