body {
    margin:0;
    padding:0;
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    overflow:hidden;
}
.grid {
    height: 100%;
    width: 100%;
}

.grid h2 {
    color: black;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: 0 !important;
}

.grid[subject=""] h2 {
    color: #666;
}

.grid.picture h2 {
    display: none;
}

.grid.text img {
    display: none;
}

.grid img {
    max-height: 100%;
    max-width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition:0.1s;
}
#tutorialSchoolElem, #scrapbookSchoolElem {
    display:none;
}
#tutorialSchoolElem h2, #scrapbookSchoolElem h2 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: 0 !important;
    color: #666;
}

#tutorialSchoolElem.picture h2, #scrapbookSchoolElem.picture h2 {
    display: none;
}

#tutorialSchoolElem img, #booksElem  img {
    transition:0.3s;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.schoolPreview {
    background-image: url('../assets/tabletBorder.png');
    background-size: 100% 100%;
    z-index: -1;
}

.schoolPreview .webix_view {
    background-color: RGBA(0, 0, 0, 0) !important;
    border-color: RGBA(0, 0, 0, 0) !important;
}

.tabletBG {
    background-size: cover;
}

.tabletBG .webix_view {
    background-color: RGBA(0, 0, 0, 0) !important;
    border-color: RGBA(0, 0, 0, 0) !important;
}

#avatar {
    display: block;
    margin: auto;
    height: 100%;
    margin-top:2.5px;
    transition:0.5s;
}

.solid {
    margin: 0;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    /*background-color: RGBA(20, 20, 20, 0.2);*/
    background-color: RGBA(0,0,0,0)!important;
}

.subject {
    /* HTML5 fuck yeah */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

h2 {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

#subjectGrid {
    height: 100%;
    width: 100%;
    background-color: RGBA(255, 255, 255, 0.5);
}
h4.levelAt {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 22px;
    transform: translate(0%, -100%);
}
.level {
    width: 100%;
    margin: 0px auto;
    height: 25px;
    background-color: #0070bb;
    border-radius: 12.5px;
    overflow: hidden;
}
.percentToNext {
    height: 100%;
    background-color: #009245;
}


#tutorialSchoolElem #cover {
    width:0%;
    transition:0.5s;
    position:absolute;
    overflow:hidden;
    height:200px;
}
#tutorials {
    width: 100%;
    height:150px;
    overflow:hidden;
    position: absolute;
    padding:10px;
    background-color:RGBA(255,255,255,0.95);
    border:3px solid #bb5f32;
    border-radius:25px;
    z-index:10;
}
#slider {
    position: absolute;
    width: 90000px;
    margin-left: 0px;
}

.tutorial {
    height:150px;
    width:150px;
    border:1px solid grey;
    float:left;
    margin-bottom:25px;
    user-select: none;
}
.tutorial img {
    max-height:150px;
    max-width:150px;
    display:block;
    margin:auto;
    user-select: none;
    pointer-events:none;
}
