/* USED??? */
#login {
    width: 302px;
    margin: auto;
    overflow: hidden;
}

h1, h2, h3, h4 {
    text-align: center;
    width: 100%;
}

.toolbarCenterLabel {
    font-size: 19px;
    line-height: 42px;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0
}