.cursor-grabbing {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.cursor-grab {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.cursor-cell {
    cursor: cell;
}
.cursor-default {
    cursor: default;
}
.cursor-crosshair {
    cursor:crosshair;
}
.cursor-text {
    cursor:text;
}
.cursor-pointer {
    cursor:pointer;
}
.cursor-no-drop {
    cursor:no-drop;
}
.cursor-wait {
    cursor:wait;
}
.cursor-progress {
    cursor:progress;
}

.cursor-chalk {
    cursor: url('../../shared/cursors/chalk.png'), auto;
}
.cursor-eraser {
    cursor: url('../../shared/cursors/eraser.png'), auto;
}
.cursor-marker {
    cursor: url('../../shared/cursors/marker.png'), auto;
}
.cursor-pen {
    cursor: url('../../shared/cursors/pen.png'), auto;
}
.cursor-pencil {
    cursor: url('../../shared/cursors/pencil.png'), auto;
}