div {
    width: 500px;
    margin: auto;
    display: block;
    padding: 10px;
    background-color: RGB(240, 240, 240);
    border: 2px solid RGB(180, 180, 180);
    border-radius: 25px;
}

div h1, div h2, div h3, div h4 {
    text-align: center;
}

.tab1 {
    margin-left: 25px;
}

.tab2 {
    margin-left: 50px;
}

.tab3 {
    margin-left: 75px;
}

.tab4 {
    margin-left: 100px;
}

.folder {
    list-style-type: square
}
