.progressBarCont {
    height: 20px;
    width: 100%;
    background-color: blue;
    border-radius: 10px;
    margin:10px auto;
    overflow:hidden;
}
.progressAct {
    background-color:green;
    width:10%;
    height:20px;
    transition:0.1s;
}
