/* This is the most fuck you stylesheet I have ever written */
html {
    position:fixed;
}
body {
    overflow:hidden;
    background-color:black!important;
    position:fixed;
}
#backgroundImg {
    display:none!important;
}
#main {
    margin:0!important;
    height:100%!important;
    width:100%!important;
}
#mainC {
    border-color:RGBA(0,0,0,0);
    height:100%!important;
    width:100%!important;
    left:0!important;
    border-width: 0px!important;
}
#titleC, #navC, #logoCont {
    display:none!important;
}
#bookC {
    position:fixed;
    top:0;
    left:0;
    /* Was working, but field focus kept scrolling weird, so I switched to fixed */
    /*
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin:0!important;
    */
}
#mainC {
    overflow:visible!important;
}
